<style>
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
</style>

<header>
  <button class="menuIcon">
  <img src="../../assets/imagens/menu_icon.png" id="menu-icon" alt="">
</button>
  <img src="../../assets/imagens/logo-app.png" id="logo-app" alt="">
  <div class="barra_pesquisa">
    <input id="pesquisa" type="text">
    <label for="pesquisa"></label>
    <img src="../../assets/imagens/pesquisa-de-lupa.png" id="lupa" alt="">

  </div>

  <button routerLink="/criarNota" id="nova_Nota">Nova Nota</button>
</header>
