
<style>
  @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
</style>

<div class="barra_lateral">

   <button class="suas_notas">
    <div class="suas_notas">
      <img class="img" src="../../assets/imagens/suas notas.png" alt="">
      <h1>Suas notas</h1>
    </div>
  </button>

  <button class="lembrete">
    <div class="lembrete">
      <img class="img" src="../../assets/imagens/lembrete_logo.png" alt="">
      <h1>Lembrete</h1>
    </div>
  </button>

  <button class="lixeira">
    <div class="lixeira">
      <img class="img" src="../../assets/imagens/lixeira.png" alt="">
      <h1>Lixeira</h1>
    </div>
  </button>

</div>
